@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-youshe: var(--font-youshe);
  --font-ali: var(--font-ali);
  --font-pangmen: var(--font-pangmen);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@utility bd {
  @apply border border-white border-dashed;
}

body {
  background: var(--background);
  color: var(--foreground);
  line-height: 1;
}
